.tlist {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.lista {
    border-left: blueviolet;
    border-right: blueviolet;
    border-left-width: 10px;
    border-right-width: 10px;
    border-left-style: solid;
    border-right-style: solid;
    column-span: none;
}

